/* mobile screen */
@media(max-width:760px){  
    .planner{
        width:115%;
        height:450px;
        background-color:gray;
        margin:auto; 
    }
    .plan{
        width:110%; 
        height:40px ;
        font-size:16px;
        background-color:blue;
        color:white;
        text-align:center;
     }
    .sub{
        background-color: white;
        color: white;
        height: 60px;
        width: 115%;
        outline: none;
        border-radius: 5px; 
        border: none;
        padding: 10px;
        color: black;
    }
    .ipol{
        width: 115%;
        height:40px;
        outline: none;
        border: none;
        padding: 8px;
        border-radius:5px;
    }
    .wi{
        width:90%;
        position:fixed;
    }
    .werting{
        position: absolute;
        width: 40px;
        height: 40px;
        color: white;
        font-size: 12px;
        z-index: 1;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:blue;
    }
    .upu{
        font-size:65px;
        color:white;
    }
    .nows{
        width:100%; 
        padding:16px;
        outline:none;
        border:none;
        color:purple;
        outline:none;
        border-radius:10px;
    }
    .hold{
        width:110%;
        background-color: blue;
        padding:5px;
        margin: auto;
        border-radius:10px;
    }
    .abua{
        width: 1%;
        height: inherit;
        display:flex; 
        background-color:blue;
        justify-content: center; 
        align-items: center;  
    }
    .years{
        text-align: center;
        font-size: 10px;
        width: 70%;
        margin: auto;
        margin-top: 20px;
        color:blue;
    } 
    .curdert{
        width: 60px;
        height: 60px;
        border-radius: 100px;
    }
    .onedivider{
        width: 115%;
        height: 150px;
        display: flex;
    }
    .oti{
        width: 49%;
        height: inherit; 
    }
    .imertdiv{
        width: 50px;
        height: 50px;
        border-radius: 100px;
        margin: auto;
    }
     .skills{
        margin: 0%;
        padding: 10px;
        text-align: center;
        color:blue;
        font-size: 15px;  
    }
    .now{
      font-size:10px;
    }
   .livecoinwatch-widget-3{
       width:30%;
   }
    
    body{
    background-color:black;
  }
    .kcx{
        color:white;
        font-size: 9px;
    }
    .me1{
        width: 60%;
        height: 400px; 
        background-image: url('./img/b2.jpeg');
        background-size: 100% 100%;

    }
    
    .me2{
        width: 40%;
        height: 410px; 

    }
    .jd{  
        width:110%;
        display: flex;
    } 
    .me1{    
        width: 60%;
        height: 400px;  
    }
    .come{
        text-align: center;
        color: blue;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
    }
    .ment{
        width: 70%;
        background-color: blue;
        height:50px;
        margin: auto;
        color:white;
        zindex:222;
        margin-left:75px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }
    .top{
        width:0%;
        height: 100vh;
        overflow: hidden;
        z-index:22;
        background-color: black;
        transition: 1s;
        position: fixed;
    }
    .qw{
        width: 10%;
    }
    .qws{
        width: 10%;
        display: none;
    }
    .dj{
        width:110%;
        justify-content:space-between;
        align-items: center;
        display: flex;
    }
    .fd{
        width:109%; 
        padding: 3px;
        margin: auto;
        color: white;
        text-align: center;
        background-color:rgb(19, 19, 19) ;
    }
    .m1{
        width: 100%;
        height: 199px;
        background-image: url('./img/btc.jpeg');
        background-size: 100%100%;
    }
    .m2{
        width: 100%;
        height: 199px;
        background-image: url('./img/btc1.jpeg');
        background-size: 100%100%;
    }
   }
